.header {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  position: sticky;
  top: 0;
  z-index: 20;
  margin-bottom: 0;
}
.header_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.header_2 {
  --tw-border-opacity: 1;
  border-color: rgba(230, 230, 230, var(--tw-border-opacity));
  border-style: solid;
  border-bottom-width: 1px;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header_3 {
  transition-property: all;
  transition-timing-function: linear;
  transition-duration: 0.3s;
  overflow: visible;
  height: 64px;
}

.header_4 {
  display: block;
}

.header_5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 64px;
}
.header_5_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_5_1_logo {
  padding-left: 1.5rem;
}

.header_5_1_search {
  display: block;
  --tw-space-x-reverse: 0;
  margin-right: calc(2.5rem * var(--tw-space-x-reverse));
  margin-left: calc(2.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.header_5_1_form {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.header_5_1_form_1 {
  display: flex;
  flex-direction: row;
  width: 474px;
}
.header_5_1_form_2 {
  flex-grow: 1;
  position: relative;
  height: 42px;
  width: 218px;
}

.header_5_1_form_3 {
  --tw-border-opacity: 1;
  border-color: rgba(217, 217, 217, var(--tw-border-opacity));
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-width: 1px;
  flex-grow: 1;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding: 0.5rem;
  padding-left: 1rem;
  height: 42px;
  min-width: 218px;
}

.header_5_1_form_4 {
  flex-grow: 1;
  position: relative;
  height: 42px;
  width: 218px;
}

.header_5_1_form_5 {
  --tw-border-opacity: 1;
  border-color: rgba(217, 217, 217, var(--tw-border-opacity));
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  border-width: 1px;
  flex-grow: 1;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding: 0.5rem;
  padding-left: 1rem;
  width: 100%;
  height: 57%;
}

.header_5_1_form_6 {
  -webkit-appearance: button;
  --tw-bg-opacity: 1;
  background-color: rgba(246, 88, 88, var(--tw-bg-opacity));
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  position: relative;
  width: 42px;
  height: 42px;
  --tw-space-x-reverse: 0;
  margin-right: calc(-0.125 rem * var(--tw-space-x-reverse));
  margin-left: calc(-0.125 rem * calc(1 - var(--tw-space-x-reverse)));
}
.header_5_1_form_7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.header_5_1_form_8 {
  font-weight: 500;
  font-size: 0.875rem;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  --tw-text-opacity: 1;
  color: rgba(0, 130, 148, var(--tw-text-opacity));
  height: 42px;
}
.header_5_1_form_9 {
  font-weight: 500;
  font-size: 0.875rem;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0;
  --tw-text-opacity: 1;
  color: rgba(33, 33, 33, var(--tw-text-opacity));
  --tw-space-x-reverse: 0;
  margin-right: calc(1.25rem * var(--tw-space-x-reverse));
  margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
}
style.header_5_1_form_10 {
  font-weight: 500;
  font-size: 0.875rem;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0;
  font-size: 0.875rem;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0;
  flex-direction: column;
  align-items: center;
  --tw-text-opacity: 1;
  color: rgba(33, 33, 33, var(--tw-text-opacity));
  --tw-space-x-reverse: 0;
  margin-right: calc(1.25rem * var(--tw-space-x-reverse));
  margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
}
.header_5_1_form_11 {
  display: inline-block;
  position: relative;
  --tw-space-x-reverse: 0;
  margin-right: calc(1.25rem * var(--tw-space-x-reverse));
  margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
}
.header_5_1_form_12 {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
  padding: 0;
  line-height: inherit;
  color: inherit;
  display: flex;
  flex-direction: row;
  outline: none;
  align-items: center;
  background-color: transparent;
  background-image: none;
  border: none;
}

.header_5_1_form_13 {
  fill: currentColor;
  --tw-text-opacity: 1;
  color: rgba(162, 162, 162, var(--tw-text-opacity));
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.header_5_1_form_14 {
  visibility: hidden;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgba(217, 217, 217, var(--tw-border-opacity));
  border-radius: 0.25rem;
  border-width: 1px;
  margin-top: 0.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  z-index: 20;

  min-width: 180px;
  border: 1px rgba(217, 217, 217) solid;

  position: absolute;
  inset: 0px auto auto 0px;
  transform: translate(-116px, 48px);
}

.makeItVisible {
  visibility: visible !important;
}

.header_5_1_form_15 {
  display: flex;
  flex-direction: column;
}
.header_5_1_form_16 {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.75rem;
}
.header_5_1_form_17 {
  font-size: 0.875rem;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0;
  --tw-text-opacity: 1;
  color: rgba(33, 33, 33, var(--tw-text-opacity));
  font-weight: 300;
  text-decoration: none;
}
.header_5_1_form_18 {
  --tw-border-opacity: 1;
  border-color: rgba(217, 217, 217, var(--tw-border-opacity));
  border-width: 0;
  border-bottom-width: 1px;
  margin-bottom: 0.5rem;
}
