.profile_root {
  width: 100%;

  background-color: rgb(250, 250, 250);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.mydetails_container {
  height: 396px;
  width: 1120px;

  margin: auto;
  display: flex;
}
.image_container,
my_details {
  height: 100%;
  width: 50%;
}
.image_container > img {
  border-radius: 50%;
  height: 352px;
  width: 352px;
  margin-left: 140px;
  margin-top: 6%;
}
.my_details {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.loc_even > div > svg {
  /* color: rgb(117, 117, 117); */
  margin-top: 6px;
  margin-right: 5px;

  text-align: center;
}
.my_details span {
  font-size: 18px;
  font-weight: 600;
}
.loc_even span {
  color: rgb(117, 117, 117);
  font-weight: 400;
}
/* bar container styles section */
.bar_container {
  height: 80px;
  width: 100%;
  border: 1px solid rgb(221, 221, 221);
}
.bar_container > div {
  width: 80%;
  margin: 1% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button_tag > button {
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  fill: #fff;
  background-color: #f65858;
  border-color: #f65858;
  padding: 8px 12px;
  font-size: 16px;
  margin: 10px auto;
}
.bar_container > div > div {
  display: flex;
  flex-direction: row;
  font-size: 16px;
}
.bar_container > div > div > div {
  display: flex;
  flex-direction: row;
  font-size: 16px;
}
.bar_container > div > div > div > div {
  padding: 2px 8px;
  border-radius: 15px;
  color: white;
  background-color: teal;
  margin: auto 10px;
}
.bar_container span {
  margin: auto 10px;
}
/* group and event section styles */
.my_ge_container {
  width: 1120px;
  border: 1px solid rgb(250, 250, 250);
  text-align: left;
  margin: auto;
}
.svg_container {
  height: 106px;
  width: 110px;
 
}
.button_f {
  box-sizing: border-box;
  color: #757575;
  fill: #757575;
  background-color: #fff;
  padding: 6px 12px;
  border: 2px solid #c5c4c4;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}
.button_f:hover {
  text-decoration: underline;
  border: 2px solid rgb(131, 131, 131);
}
.my_groups > div,
.my_events > div {
  width: 300px;
  height: 300px;
  margin: auto;
  text-align: center;
}
.bold_text {
  font-weight: bolder;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
